table {
  width: 100%;
  border: solid 1px black;
}

.mat-row:hover {
  background-color: aliceblue;
  font-weight: bold;
}

.mat-column-market_cap_rank {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-header-cell,
.mat-paginator {
  font-size: large;
  font-weight: bold;
  color: black;
  background-color: lightblue;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  opacity: 90%;
}

.mat-paginator {
  border: solid 1px black;
}

.mat-form-field {
  width: 100%;
}
a:link {
  text-decoration: none;
}
