<mat-card class="card">
  <div class="form-group">
    <form #loginData="ngForm" (ngSubmit)="onClickSubmit(loginData.value)">
      <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input
          id="name"
          type="text"
          name="username"
          placeholder="username"
          matInput
          class="form-control"
          ngModel
          [required]="true"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
        aria-label="Password"
          type="password"
          name="password"
          class="form-control"
          matInput
          ngModel
          [required]="true"
        />
      </mat-form-field>
      <div>
        <button type="submit" class="btn btn-success">Login</button>
      </div>
    </form>
  </div>
</mat-card>
