<mat-card class="card">
  <div>
    <div class="container">
      <button class="btn btn-primary" (click)="onBack()">
        <i class="fa fa-chevron-left"></i>Back
      </button>
      <button class="btn btn-primary" (click)="onHome()">Home</button>
      <button class="btn btn-primary" (click)="onNext()">
        Next
        <i class="fa fa-chevron-right"></i>
      </button>
    </div>
    <span style="text-align: center">
      <h1>{{ legend }} High Low</h1></span
    >
    <canvas
      baseChart
      [type]="'line'"
      [legend]="true"
      [datasets]="data"
      [labels]="chartLabels"
      [options]="chartOptions"
    ></canvas>
  </div>
  <app-crypto-info></app-crypto-info>
</mat-card>
