/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

html,
body,
app-root {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to top, #33ccff -100%, #ff99cc 128%);
  margin-top: 0;
  margin-bottom: 0;
}
.mat-card {
  opacity: 95%;
}
